<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="styles.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <!--Formulario Car-->
    <div class="container"> 
        <h1 class="mt-4 text-center">Ejercicio Vehículos</h1>
        <form id="myFormId" class="form-inline mt-5 align-items-center" name="myForm">
            <div>
                <div class="form-row form-group" class="d-flex">
                    <div class="m-2 d-block">
                        <label class="h4 justify-content-left mb-2" for="plate">Plate</label>
                        <input type="text" class="form-control" placeholder="Enter plate" id="plate">
                        <div class="invalid-feedback" id="errorPlate"></div>
                    </div>
                    <div class="m-2 d-block">
                        <label class="h4 justify-content-left mb-2" for="brand">Brand</label>
                        <input type="text" class="form-control" placeholder="Enter brand" id="brand">
                        <div class="invalid-feedback" id="errorBrand"></div>
                    </div>
                    <div class="m-2 d-block">
                        <label class="h4 justify-content-left mb-2" for="color">Color</label>
                        <input type="text" class="form-control" placeholder="Enter color" id="color">
                        <div class="invalid-feedback" id="errorColor"></div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <button type="submit" class="btn btn-primary m-2">Create car</button>
                </div>              
            </div>
        </form> 
        <!--Formulario Wheel-->
        <form id="myFormIdWheel" class="form-inline mt-5 mb-4 align-items-center invisible" name="myFormWheel">
            <div class="w-100 pl-1">
                <div class="form-row form-group w-100" class="d-flex">
                    <div class="col-12 d-flex mb-3">
                        <div class="d-block pr-5">
                            <label class="h4 justify-content-left mb-2" for="wheel1">Wheel 1</label>
                            <div class="pb-2">
                                <input type="text" class="form-control" placeholder="Enter brand" id="wheel1_brand">
                                <div class="invalid-feedback" id="errorWheel1_brand"></div>
                            </div>
                            <div class="pb-2">
                                <input type="text" class="form-control" placeholder="Enter diameter" id="wheel1_diameter">
                                <div class="invalid-feedback" id="errorWheel1_diameter"></div>
                            </div>
                        </div>
                        <div class="d-block">
                            <label class="h4 justify-content-left mb-2" for="wheel2">Wheel 2</label>
                            <div class="pb-2">
                                <input type="text" class="form-control" placeholder="Enter brand" id="wheel2_brand">
                                <div class="invalid-feedback" id="errorWheel2_brand"></div>
                            </div>
                            <div class="pb-2">
                                <input type="text" class="form-control" placeholder="Enter diameter" id="wheel2_diameter">
                                <div class="invalid-feedback" id="errorWheel2_diameter"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex mb-3">
                        <div class="d-block pr-5">
                            <label class="h4 justify-content-left mb-2" for="wheel3">Wheel 3</label>
                            <div class="pb-2">
                                <input type="text" class="form-control" placeholder="Enter brand" id="wheel3_brand">
                                <div class="invalid-feedback" id="errorWheel3_brand"></div>
                            </div>
                            <div class="pb-2">
                                <input type="text" class="form-control" placeholder="Enter diameter" id="wheel3_diameter">
                                <div class="invalid-feedback" id="errorWheel3_diameter"></div>
                            </div>
                        </div>
                        <div class="d-block">
                            <label class="h4 justify-content-left mb-2" for="wheel4">Wheel 4</label>
                            <div class="pb-2">
                                <input type="text" class="form-control" placeholder="Enter brand" id="wheel4_brand">
                                <div class="invalid-feedback" id="errorWheel4_brand"></div>
                            </div>
                            <div class="pb-2">
                                <input type="text" class="form-control" placeholder="Enter diameter" id="wheel4_diameter">
                                <div class="invalid-feedback" id="errorWheel4_diameter"></div>
                            </div>
                        </div>   
                    </div>
                    
                </div>
                <div class="form-row form-group">
                    <button type="submit" class="btn btn-primary m-2">Create wheels</button>
                </div>              
            </div>
        </form>
    </div>
    <!--Mostrar Car-->
    <div class="border container invisible pb-3 mb-3" id="show_car">
        <h6 class="pt-3">Car:</h6>
        <div class="row py-1">
            <p class="col">Plate: </p>
            <p class="col">Brand: </p>
            <p class="col">Color: </p>
        </div>
    </div>
    <!--Mostrar Wheels-->
    <div class="border container invisible mt-4 pb-2 mb-5" id="show_wheels">
        <h6 class="pt-3">Wheels:</h6>
        <div class="row ml-4">
            <div id="col"></div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="../models/car.js"></script>
    <script src="../models/wheel.js"></script>
    <script src="../controllers/controller.js"></script>
</body>
</html>
